html {
    background-color: #eee;
}

h1 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 0px 10px;
}

#codeField {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0px;
    background-color: white;
}

#outputField {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0px;
    background-color: white;
}

#output {
    min-height: 40px;
}

textarea {
    width: 90%;
    height: 15rem;
}

#keys button {
    touch-action: manipulation;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

#runButton {
    touch-action: manipulation;
    border: 2px solid skyblue;
    border-radius: 10px;
    color: white;
    background-color: blue;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}